In [101]:
import pandas as pd
import requests
import os
import ipykernel.iostream
import sys

from IPython.display import clear_output

In [102]:
df = pd.read_csv("../data/reviews.csv", index_col="Unnamed: 0")
df

,restaurant_name,dave_scores,user_scores,address
0,Pizza Hut,0.0,2.7,"213. Sok., Adana, 01"
1,Del sole,0.0,7.3,"字ニセコ483-1, 虻田郡, 01"
2,Lava Lounge Pizza Niseko,0.0,4.2,"倶知安町字山田191-19, 虻田郡, 01"
3,Pizzaria Cosa Nostra,0.0,8.5,"R. Custódio Brás Pacheco, 1, Vila Nova de Milf..."
4,Olivia Tjuvholmen,0.0,8.4,"Bryggegangen 4, Oslo, 03"
...,...,...,...,...
50582,Very Italian Pizza,0.0,7.4,"Turfmarkt 8, Leiden, ZH"
50583,Donatello's,0.0,6.2,"Haarlemerstraat 20, Leiden, ZH"
50584,Santa Lucia Limmatplatz,0.0,6.8,"Luisenstrasse 31, Zürich, ZH"
50585,Pizze Pronto,0.0,7.7,"Schoolstraat 1, Schiedam, ZH"
50586,Luigia,0.0,8.9,"Talstrasse 61, Zürich, ZH"

In [4]:
# TODO: Use Google Maps API to geocode the address info

In [58]:
KEY = os.getenv('MAPBOX_TOKEN')

In [70]:
KEY = KEY[:-1]

In [114]:
latitudes0 = latitudes[:12244]
longitudes0 = longitudes[:12244]

In [117]:
BASE = "https://api.mapbox.com/geocoding/v5/mapbox.places/"

latitudes = []
longitudes = []

for i in range(12244, df.shape[0]):
    
    ADDRESS = df['address'][i]
    url = "{}{}.json?access_token={}".format(BASE, ADDRESS, KEY)
    
    r = requests.get(url)
    
    if r.status_code == 200:
    
        if len(r.json()['features']) > 0:
        
            result = r.json()['features'][0]

            coordinates = result['geometry']['coordinates']

            latitudes.append(coordinates[0])
            longitudes.append(coordinates[1])
            
        else:
            
            latitudes.append(0)
            longitudes.append(0)
        
    else:
        
        latitudes.append(0)
        longitudes.append(0)
    
    clear_output()
    print(i)

50586

In [118]:
len(df)

50587

In [123]:
lat3 = latitudes0 + latitudes
long3 = longitudes0 + longitudes

In [122]:
len(lat3)

50587

In [124]:
df['lat'] = lat3
df['long'] = long3

df

,restaurant_name,dave_scores,user_scores,address,lat,long
0,Pizza Hut,0.0,2.7,"213. Sok., Adana, 01",35.280019,37.045303
1,Del sole,0.0,7.3,"字ニセコ483-1, 虻田郡, 01",140.640318,42.828579
2,Lava Lounge Pizza Niseko,0.0,4.2,"倶知安町字山田191-19, 虻田郡, 01",140.703700,42.862500
3,Pizzaria Cosa Nostra,0.0,8.5,"R. Custódio Brás Pacheco, 1, Vila Nova de Milf...",-8.749800,37.768800
4,Olivia Tjuvholmen,0.0,8.4,"Bryggegangen 4, Oslo, 03",10.722400,59.908856
...,...,...,...,...,...,...
50582,Very Italian Pizza,0.0,7.4,"Turfmarkt 8, Leiden, ZH",4.485849,52.162025
50583,Donatello's,0.0,6.2,"Haarlemerstraat 20, Leiden, ZH",120.150000,30.266670
50584,Santa Lucia Limmatplatz,0.0,6.8,"Luisenstrasse 31, Zürich, ZH",8.529560,47.383901
50585,Pizze Pronto,0.0,7.7,"Schoolstraat 1, Schiedam, ZH",4.399972,51.911177
50586,Luigia,0.0,8.9,"Talstrasse 61, Zürich, ZH",8.535541,47.370349

In [55]:
df2.to_csv("../data/coords.csv")